body {
  background-color: rgb(57, 57, 57);
}

h1, h2, h3, h4, h5, h6 {
  color: whitesmoke;
}

p {
  color: white;
}

div, section {
  border: 1px solid #777;
}

* {
  outline: 1px solid rgba(255,255,255,0.05);
}