body {
  background-color: rgb(57, 57, 57);
  background-image: 
    linear-gradient(#555 1px, transparent 1px),
    linear-gradient(90deg, #555 1px, transparent 1px);
  background-size: 40px 40px;
}

h1, h2, h3, h4, h5, h6 {
  color: whitesmoke;
}

p {
  color: white;
}

div, section {
  border: 1px solid #777;
}

* {
  outline: 1px solid rgba(255,255,255,0.05);
}